# Ignore virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.vscode

# Ignore personal credentials
credentials.json
token.json

# Ignore macOS system files
.DS_Store

*.pytest_cache